<%- include ('../partials/head.ejs')%>
<body>
  <%- include('../partials/nav.ejs')%>
    
    <% if(error) { %>
      <h2><%= error %></h2>
    <% } %>
    <ul>
      <% skills.forEach(function(skill) { %>
        <li>
          <form action="/skills/<%= skill._id %>?_method=DELETE" class="delete-form" method="POST">
            <button type="submit">X</button>
          </form>
          <a href="/skills/<%= skill._id %>"><%= skill.skill %></a>
            - 
          Your ability? <%= skill.able%>
        </li>
      <% }) %>
    </ul>
    <a href="/skills/new">Add To-Do</a>
</body>
</html>
