<%- include ('../partials/head.ejs')%>
<body>
  <%- include('../partials/nav.ejs')%>
    
    <% if(error) { %>
      <h2><%= error %></h2>
    <% } %>
    <ul>
      <% skills.forEach(function(skill) { %>
        <li>
          <a href="/skills/<%= skill._id %>"><%= skill.skill %></a>
            - 
          Your ability? <%= skill.able%>
        </li>
      <% }) %>
    </ul>
</body>
</html>
