<%- include ('../partials/head.ejs')%>
<body>
  <%- include('../partials/nav.ejs')%>
  <% if(error) { %>
    <h2><%= error %></h2>
  <% } else { %>
    <h2>Todo #<%= skill._id %></h2>
    <h3><%= skill.skill %></h3>
    <p>Qualified? <%= skill.able %></p>
  <% } %>
	<a href="/skills">Go back</a>
</body>